{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VolunteerHub by John | Mutsumi | Zala</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
  <!-- Navbar Starts -->
  <nav class="navbar">
    <!-- Nav List Starts -->
    <ul class="nav-list">
      {% if user.is_authenticated %}
      <li><a href="{% url 'event_create' %}">Organize Event</a></li>
      <span>|</span>
      <li>
        <a href="{% url 'event_list' %}">Your Events</a>
      </li>
      <span>|</span>
      <li>
        <a href="{% url 'my_events' %}">Your Volunteering</a>
      </li>
      <span>|</span>
      <li><a href="{% url 'all_events' %}">All Events</a></li>
      <span>|</span>
      <li>
        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none">
          {% csrf_token %}
        </form>
        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
      </li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <span>|</span>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
    <!-- Nav List Ends -->
  </nav>
  <!-- Navbar Ends -->
  <main class="container">{% block content %} {% endblock %}</main>
</body>

</html>