/* Web Fonts - Changa One and DM Sans */
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* CSS variables */

:root {
  --color-primary: #ff7151;
  --color-primary-dark: #dc5a3d;
  --color-secondary: #164c64;
  --color-white: #f5f5f5;
  --color-dark: #111;
  --hero-heading-size: 4.8rem;
  --hero-subheading-size: 2.4rem;
  --font-primary: "Changa One", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100vw;

  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
    rgba(0, 0, 0, 0.2) url("../images/landing-page.jpg") no-repeat center/cover;

  -webkit-backdrop-filter: blur(0.15rem);

  backdrop-filter: blur(0.15rem);

  font-family: var(--font-secondary);
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-white);
}
